<%- layout('layouts/main') %>
<div class="row mb-5">
    <div class="col-md-8 mx-auto text-center ">
        <br><h3>Bienvenido <%= user.email %> </h3><br>
        <h5>Farmacia Tony</h5>
        <p>Tenemos gran cantidad de productos y medicamentos</p>   
        <img src="/static/images/foto_farmacia.jpg"  height="500" width="800"/></div>
</div>



